:root {
  --background: radial-gradient(circle at center, rgb(99, 138, 236) 0%, rgb(173, 195, 255) 100%);
  --foreground: 13 41 110;
  --primary: 102 204 255;
  --primary-foreground: 248 250 252;
  --secondary: 241 245 249;
  --secondary-foreground: 2 8 23;
  --muted: 241 245 249;
  --muted-foreground: 100 116 139;
  --accent: 2 8 23;
  --accent-foreground: 12 15 20;
  --border: 226 232 240;
  --input: 226 232 240;
  --ring: 102 204 255;
}
.dark {
  --background: radial-gradient(circle at center, rgb(152, 180, 255) 0%, rgb(6, 28, 83) 100%);
  --foreground: 248 250 252;
  --primary: 153 221 255;
  --primary-foreground: 2 8 23;
  --secondary: 30 41 59;
  --secondary-foreground: 248 250 252;
  --muted: 30 41 59;
  --muted-foreground: 148 163 184;
  --accent: 30 41 59;
  --accent-foreground: 248 250 252;
  --border: 30 41 59;
  --input: 30 41 59;
  --ring: 153 221 255;
}
